:root {
    background: #031417;
    color: #b2cacd;
}

a {
    color: #49e9a6;
}

body {
    width: 40em;
    margin: 0px auto;
    font-family: monospace;
}

li {
    padding: 5px
}

.yellow {
    color: #d5971a;
}
